<table style="border:1px solid #e0e0e0;" width="650" cellspacing="0" cellpadding="10" border="0" bgcolor="FFFFFF">
                        <tbody>
                        <tr>
                            <td valign="top">
                                <img style="width: 85px;padding-bottom:2px;margin:0;padding:0;display:block;border:none;outline:none;" src="https://southbeautysupply.com/assets/img/logo-sbs.png" align="left" width="50">
                            </td>
                        </tr>
                        <tr>
                            <td valign="top">
                                <h1 style="font-size:22px;font-weight:normal;line-height:22px;margin:0 0 11px 0">Dear {{firstName}} {{lastName}},</h1>
                                <p style="font-size:12px;line-height:16px;margin:0 0 8px 0">It seems you request to change the password for your account.</p>
                                <div style="font-size:12px;line-height:16px;margin:0px">
                                    Please click on the following link or copy and paste the URL into your browser instead to reset your password:
                                    <a href="{{url}}" style="color:#1e7ec8" target="_blank">{{url}}</a>
                                </div>
                                <br>
                                <div style="font-size:12px;line-height:16px;margin:0px">
                                    If you did not make this request, you can ignore this message and your password will remain the same.
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td style="background-color:#eaeaea;text-align:center">
                                <div style="font-size:12px;margin:0px;text-align:center">
                                    <b>South beauty Supply</b>
                                </div>
                            </td>
                        </tr>
                    </tbody>
</table>